*{

box-sizing: border-box;
margin: 0;
padding: 0;
}

.main{
  height: 100vh;
  width: 100vw;
  display: flex;

}
.sidebar{
  height: 100vh;
  width: 15vw;
  background-color: rgb(54, 171, 218);
}
.content{
  height: 100vh;
  width: 85vw;
  display: flex;
  flex-direction: column;


}
.header{
  height: 20vh;
  width: 85vw;
  background-color: rgb(198, 185, 185);
}
.head1{
  height: 5vh;
  width: 80vw;
  display: flex;
  justify-content: space-between;

}
.search{
  height: 5vh;
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.simg{
  height: 3vh;
  width: 4vh;
  object-fit: contain;
  object-position: center;
  background-color: aqua;
}
.sbar{
  height: 5vh;
    width: 25vw;    
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: antiquewhite;
}
.headopts{
  background-color: aquamarine;
  height: 5vh;
  width: 20vw;
  display: flex;
  justify-content: space-around;
}
.opt{
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  background-color: aliceblue;
}
.head2{
  height: 15vh;
  width: 85vw;display: flex;
  align-items: center;
  justify-content: space-around;
}
.box-cont{
  height:80vh;
  width: 85vw;
  background-color: aqua;
  display: flex;
}
.boxes{
  height: 80vh;
  width: 65vw;
  background-color: antiquewhite;
}

.box-side{
  height: 80vh;
  width: 20vw;
}
.headleft{
  height: 10vh;
  width: 30vw;
  display: flex;
  align-items: center;
  padding-left: 10px;
  background-color: aliceblue;
}
  .photo{   
     height: 10vh;
    width: 10vh;
    border-radius: 50%;
    object-fit: contain;
    object-position: center;
  }
   .details {  
    display: flex;
      align-items: center;
      padding-left: 10px;
    }

    .headright{
      height: 10vh;
      width: 20vw;
      display: flex;
      justify-content: space-evenly;
      background-color: antiquewhite;


    }